<!-- views/PlageConnect/login.ejs -->

<!DOCTYPE html>
<html lang="fr">
<head>
    <%- include ('../common/head') %>
    <script src="/js/PlageConnect/login.js"></script>
</head>
<body>

<header>
    <%- include ('../common/header') %>
</header>

<main>
    
    <div id="notif"></div>
</main>

<footer>
    <%- include ('../common/footer') %>
</footer>

</body>
</html>